<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
    <defaultcontrol always="true">65</defaultcontrol>
    <backgroundcolor>black</backgroundcolor>
    <controls>
        <include>osmc_back</include>
        <control type="panel" id="65">
            <top>140</top>
            <left>50</left>
            <width>600</width>
            <height>800</height>
            <onleft>9000</onleft>
            <onright>-</onright>
            <onup>noop</onup>
            <ondown>noop</ondown>
            <scrolltime tween="sine" easing="out">200</scrolltime>
            <itemlayout height="100" width="400">
                <control type="textbox">
                    <width>400</width>
                    <height>120</height>
                    <textcolor>black</textcolor>
                    <font>font45</font>
                    <align>left</align>
                    <aligny>center</aligny>
                    <info>ListItem.Label</info>
                </control>
            </itemlayout>
            <focusedlayout height="100" width="400">
                <control type="textbox">
                    <width>400</width>
                    <height>120</height>
                    <font>font45</font>
                    <align>left</align>
                    <aligny>center</aligny>
                    <info>ListItem.Label</info>
                </control>
            </focusedlayout>
            <content>
                <item id="1" description="Appearance">
                    <label>480</label>
                    <onclick>activatewindow(AppearanceSettings)</onclick>
                </item>
                <item id="3" description="Videos">
                    <label>3</label>
                    <onclick>activatewindow(VideosSettings)</onclick>
                </item>
                <item id="4" description="Music">
                    <label>2</label>
                    <onclick>activatewindow(MusicSettings)</onclick>
                </item>
                <item id="14" description="LiveTV">
                    <label>31059</label>
                    <onclick>activatewindow(PVRSettings)</onclick>
                </item>
                <item id="5" description="Pictures">
                    <label>1</label>
                    <onclick>activatewindow(PicturesSettings)</onclick>
                </item>
                <item id="8" description="Weather">
                    <label>8</label>
                    <onclick>activatewindow(WeatherSettings)</onclick>
                </item>
                <item id="9" description="Services">
                    <label>14036</label>
                    <onclick>Activatewindow(servicesettings)</onclick>
                </item>
                <item id="10" description="System">
                    <label>13000</label>
                    <onclick>activatewindow(SystemSettings)</onclick>
                </item>
                <item id="2" description="Skin Settings">
                    <label>20077</label>
                    <onclick>activatewindow(SkinSettings)</onclick>
                </item>
                <item id="13" description="Addons">
                    <label>24001</label>
                    <onclick>activatewindow(AddonBrowser,root)</onclick>
                </item>
                <item id="15" description="openELEC">
                    <visible>System.HasAddon(service.openelec.settings)</visible>
                    <label>$ADDON[service.openelec.settings 600]</label>
                    <onclick>RunAddon(service.openelec.settings)</onclick>
                </item>
                <item id="6" description="Sys Info">
                    <label>$LOCALIZE[138]</label>
                    <onclick>activatewindow(systeminfo)</onclick>
                </item>
                <item id="7" description="Maintenance">
                    <visible>System.HasAddon(service.clean.up)</visible>
                    <visible>!System.HasAddon(service.openelec.settings)</visible>
                    <label>$ADDON[service.clean.up 32009]</label>
                    <onclick>ActivateWindow(1717)</onclick>
                </item>
                <item id="16">
                    <label>$LOCALIZE[31082]</label>
                    <onclick>ActivateWindow(1111)</onclick>
                </item>
            </content>
        </control>
        <control type="image" description="Logo">
            <animation effect="fade" time="100">VisibleChange</animation>
            <centerleft>480</centerleft>
            <top>80</top>
            <width>500</width>
            <height>500</height>
            <aspectratio>keep</aspectratio>
            <texture>$VAR[settingsmainico]</texture>
            <colordiffuse>main</colordiffuse>
        </control>
        <control type="textbox" description="HelpDetails">
            <centerleft>480</centerleft>
            <top>560</top>
            <width>660</width>
            <height>380</height>
            <font>size33</font>
            <align>justify</align>
            <label>$VAR[settingsmain]</label>
        </control>
    </controls>
</window>
